snippet master "Master Thesis bib item" b
@MasterThesis{${1:name},
	author={${2:author}},
	title={${3:title}},
	school={${4:subtitle}},
	address={${6:somewhere}},
	year={${5:YYYY}},
	pages={${8:NN}--${9:NN}}
}
$0
endsnippet
