snippet fun "swift function" b
func ${1:name}(${2:para}) {
	$0
}
endsnippet

snippet if "Description" b
if ${1:exp} {
	$0
}
endsnippet

snippet for "Description" b
for ${1:i} in ${2:arr} {
	$0
}
endsnippet
