[client]
pager = "tvim -T -"

[client_dr01]
user=ads
password=ads
host=BJOAdsRegression01.dev.fwmrm.net
port=23306
database = fwmrm_oltp

[client_d32]
user=ads
password=ads
host=192.168.0.32
port=23306
database = fwmrm_oltp

[client_242]
user=ads
password=ads
host=192.168.0.242
database = fwmrm_test

[client_fullreg]
user=ads
password=ads
host=192.168.0.203
port=3306

[client_130]
user=ads
password=ads
host=192.168.0.130
database = fwmrm_oltp
port = 3307

[client_prd]
user = qa
password = Qa0602@@
host = nycjump01
port = 5306
database = fwmrm_oltp

[client_stg]
user = qa
password = Qa0602@@
host = nycjump01
port = 6306
database = fwmrm_oltp

# vim:ft=config:
